/*PC、スマホ共通スタイル*/
body {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "source sans pro", Arial, "Hiragino Kaku Gothic ProN", sans-serif;
  @media screen and (max-width: 767px)
}

#nav-pc {
  display: none;
}

#menu-sp {
  float: right;
  padding: 0;
  display: none;
}

#nav-sp {
  background: color #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
}

#header {
  display: flex;
  justify-content: space-between;
}

#nav-sp ul {
  display: flex;
  padding-left: 0;
}

#nav-sp li {
  list-style: none;
}

#close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#logo-sp {
  margin: 80px 0 30px 20px;
}

#nav-sp a {
  display: block;
  text-decoration: none;
  margin-left: 20px;
  color: #0d0d0d;
}

#nav-sp a:link {
  color: #ffffff
}

#nav-sp a:visited {
  color: #ffffff
}

#nav-sp a:hover {
  text-decoration: underline;
}

#nav-sp a:active {
  color: #ffffff
}

#nav-sp.menu {
  text-decoration: none;
  display: block;
  margin: 0 20px;
  height: 44px;
  font-size: 16px;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}


#main-visual>img {
  width: 100%;
  height: auto;
}